<h1 class="text-center my-5">login</h1>


<div class="row justify-content-center m-5">
    <div class="col-md-6">
        <form action="/auth/login" class="form-control" method="post">
            <input type="text" name="username" class="form-control mb-2" placeholder="ingrese username" value="prueba">
            <input type="password" name="password" class="form-control mb-2" placeholder="ingrese contraseña"
                value="contraseña">
            <button class="btn btn-primary" type="submit">Registrar usuario</button>
        </form>
    </div>
</div>