<h1 class="text-center my-5">
    Registro de usuarios nuevos
</h1>

<div class="row justify-content-center m-5">
    <div class="col-md-6">
        <form action="/auth/register" class="form-control" method="post">
            <input type="text" name="username" class="form-control mb-2" placeholder="ingrese username" value="prueba">
            <input type="text" name="email" class="form-control mb-2" placeholder="ingrese email"
                value="prueba@test.com">
            <input type="password" name="password" class="form-control mb-2" placeholder="ingrese contraseña"
                value="contraseña">
            <button class="btn btn-primary" type="submit">Registrar usuario</button>
        </form>
    </div>
</div>